#navbarSupportedContent{
    font-size: 25px;
}
.nav-item a{
    color: gray;
}
.navbar-nav .nav-link.active{
    color: gray;
}
.navbar-nav .nav-link.active:hover{
    color: pink;
}
.dropdown-item:hover{
    color: pink;
}

.carousel-item{
    height: 100vh;
}
.section-header {
    margin-top: 100px;
}
.carousel-caption{
    bottom: 170px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 145px;
}
.carousel-caption p{
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 100px;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}
 
.w-100{
    height: 100vh;
}

@media screen and (min-width: 768 )  and (max-width:991px){
    .carousel-caption{
        bottom: 300px;
    }

    .carousel-caption p{
        width: 100%;
    }
    .nav-link {
        float: right;
    }
    .navbar-nav{
        float: right;
    }
    .navbar-collapse ul{
        float: right;
    }
    .banhloi{
        height: 371px
    }
    .card{
        height: 100%;
    }
    .loi1{
        height: 234px;
    }
    .loi2{
        height: 168px;
    }
    
}


@media  only screen  and (max-width: 767px )    {
    .navbar>.container-fluid{
        margin-bottom: 10px;
    }
    
    .navbar-nav{
        text-align: center;
    }

    .carousel-caption{
        bottom: 175px;
    }

    .carousel-caption h5{
        font-size: 20px;
        margin-top: 20px;
    }

    .carousel-caption a{
        padding: 10px 15px ;
    }

    .carousel-caption p{
        width: 100%;
        line-height: 1.5;
        font-size: 10px;
    }

    .nav-link {
        float: left;
    }

    #logo2{
        width: 100%;
    }

    .portfolio .card {
        padding: 20px;
        margin-top: 22px;
    }
    #cart {
        position: absolute;
        left: -42px;
    }
    .card { 
        margin-top: 30px;
    }
    #logoduoi{
        width: 250px;
        margin-bottom: 10px;
        margin-top: -53px;
    }
    #map1 {
        margin-left: -30px;
    }
    #f2{
        margin-right: 89px;
    }
    #f1{
        
            margin-right: 151px;
        
    }

}


.img-fluid {
    max-width: 100%;
    height: auto;

}
.portfolio .card{
    padding: 20px;
}
.banggia2{
    margin-top: 50px;
    padding-top: 25px;
}

.banggia11{
    margin-top: 50px;
}

body{
    background: linear-gradient(#e0c7c7, #e0c7c7 ,  rgba(238 92 66)  );
}
#cart{
    margin-left: 45%;
    margin-top: 50px;
    color: #FFf;    
}
#cart:hover{
    background-color: rgba(238, 9, 9, 0.61)   ;
    border: 1px solid rgba(0, 0, 0, 0.87);
}

.img-fluid {
    max-width: 100%;
    height: 170px;
}
.loi3{
    width: 165px;
}
.socials button{
    margin-right: 10px;
}
.phanhoikhach{
    margin-top: 50px;
    padding-top: 25px;
}
#phanhoigui{
    margin-top: 20px;
    font-size: 40px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);



footer{
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
.fa{
    margin-top: 10px;
}
#f2{
    margin-top: 20px;
    text-decoration: none;
}
#f0{
    color: #fff;
}
#map1{
    margin-left: 47px;
}